$highlight-color: #FD9C52;

.counter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;

  ul {
    list-style: none;
  }

  li {
    margin: 0px 5px;
    display: inline-block;
    vertical-align: middle;

    .goal {
      background: white;
      width: 5em;
      height: 1em;
      text-align: center;
      color: teal;
      font-size: inherit;
      border-radius: 5px;
      vertical-align: middle;
      padding: 2px 0px;
    }
  }

  .percentage-count {
    margin-left: 3px;
    margin-right: 3px;
  }

  .percentage-count,
  .current-count {
    color: $highlight-color;
    font-weight: 400;
  }

  .percentage-info {
    li:last-child {
      margin-left: 2px;
    }
  }
}
