@import 'bar';

$page-header-padding: 25px;
$counter-header-padding: 15px;

.page-header {
  @include bar ($page-header-padding);
  font-size: 28px;
}

.counter-bar {
  @include bar ($counter-header-padding);
  border-top: none;
  border-left: none;
  border-right: none;
}
