@import 'reset';
@import 'header';
@import 'footer';

$text-padding: 5px;
$text-box-border: 1px;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background-world {
  background-color: papayawhip;
  color: darkslategray;
  display: flex;
  justify-content: center;
  height: 100%;
}

.text-box {
  width: 80%;
  max-width: 900px;
  background: white;
  border-left: $text-box-border solid #000;
  border-right: $text-box-border solid #000;
  display: flex;
  flex-direction: column;

  textarea {
    font-size: 14px;
    padding: $text-padding;
    overflow-y: scroll;
    text-decoration: none;
    resize: none;
    height: 100%;
    border: 0;
  }
}
