@import 'reset';
@import 'header';
@import 'counter_bar';
@import 'textbox';
@import 'background_world';
@import 'footer';

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 200;
  min-width: 600px;
  min-height: 950px;
  // so that you can scroll down and have a larger page to work with
  // exact height should be sourced from multiple beta users' impressions
  // on diff screensizes/browers/etc.
}
